/* AddBook.css */
.form {
  border-radius: 4px;
  padding: 16px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-input input {
  margin: 5px 10px 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200%; /* Takes up 3/4 of the available space */
}

#add-book {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  align-self: flex-end;
}

#add-book:hover {
  background-color: #0056b3;
}
