/* BookList.css */
.book-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.book-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

#delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
  align-self: center;
}

#delete-button:hover {
  background-color: #c82333;
}

.add-book-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
  align-self: center;
}

.add-book-button:hover {
  background-color: #0056b3;
}
