header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px;
  background-color: #fff;
  border: 1px solid rgb(235, 243, 242);
  font-family: 'Courier New', Courier, monospace;
}

.header-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.logo {
  font-size: 35px;
  color: #448bf7;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.header-container1 ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.header-container1 ul li {
  padding: 5px 25px;
}

link {
  text-decoration: none;
  color: black;
}

.header-container2 svg {
  color: #0361ee;
  font-size: 25px;
}
