@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

.main {
  width: 90%;
  min-height: 120vh;
  background-color: #fafafa;
  margin: 5%;
  padding: 2%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.137);
}

.nav {
  font-size: 35px;
  color: #0290ff;
}

.category_item {
  color: #9c9c9c;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h2 {
  font-weight: 800;
  font-size: 1.85rem;
  color: #c6c6c6;
}

/* styles.css */

/* styles.css */
.nav_container {
  width: auto;
  margin: auto;
  background-color: #fff;
  border-bottom: 1px solid #f5f6fa;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Utilisez 'center' pour aligner verticalement */
  padding: 1rem;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  align-items: center; /* Ajoutez cette ligne pour aligner verticalement les éléments */
}

.nav_links a {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 2.5px;
  color: #000;
  text-decoration: none;
}

.user_icon {
  font-size: 30px;
  color: #0290ff;
  cursor: pointer;
}

.input-field {
  margin: 5px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.comment-button,
.remove-button,
.edit-button {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: #3f9fee;
}

.remove-button {
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.book_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: white;
  margin-right: 35px;
}

.book_title {
  margin: 0;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 0;
}

.book_author {
  font-size: 12px;
  padding-top: 0;
  color: #3f9fee;
}

.book_category {
  margin: 5px 0;
  font-size: 14px;
}

.add-button {
  background-color: #3f9fee;
  color: white;
  border: none;
  padding: 8px 30px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #1d89ee;
}

.section_addbook {
  width: 95%;
  margin-left: 35px;
}

.title-input {
  width: 35%;
}

.author-input {
  width: 25%;
}

.category-input {
  width: 15%;
}

.update-progress-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.update-progress-button:hover {
  background-color: #2980b9;
}
