@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

.main {
  width: 90%;
  min-height: 90vh;
  background-color: #fff;
  margin: 5%;
  padding-left: 2%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.137);
}

h2,
h3,
h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h2 {
  font-weight: 800;
  font-size: 1.85rem;
  color: #258fe0ea;
}

.nav_container {
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-bottom: 1px solid #f5f6fa;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 1rem 0;
}

.nav_links a {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 2.5px;
  color: #000;
  text-decoration: none;
}

.nav_links li {
  list-style: none;
}

#add-book {
  background-color: #0291ffea;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#add-book:hover {
  background-color: #2f90e6ea;
  transform: scale(1.05);
}

#add-book:active {
  background-color: #0154a8ea;
}

.input-field {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.title-input-a {
  width: 30%;
}

.button-group {
  display: flex;
}

.comment-button,
.remove-button,
.edit-button {
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: rgb(47, 131, 226);
}

.remove-button {
  background-color: #b13434;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #0a335a;
}

.book_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.book_info {
  flex: 1;
}

.book_title {
  margin: 0;
  font-size: 18px;
}

.book_author,
.book_category {
  margin: 5px 0;
  font-size: 14px;
}

.add-button {
  background-color: #2894a7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #1d89ee;
}